<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org"
      xmlns:xsi="http://w3.org"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<!-- 1. Главный системный лог приложения (подключение камеры, формы и т.д.) -->
		<target name="mainLogFile" xsi:type="File"
				fileName="logs/app_main.log"
				layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${message}"
				maxArchiveFiles="3"
				archiveEvery="Day" />

		<!-- 2. ДИНАМИЧЕСКИЙ ЛОГГЕР ДЛЯ ВАШИХ КЛАССОВ И МЕТОДОВ (Входы и Выходы)
         Магия ${logger} сама создаст файл с красивым именем, которое вы задали:
         Например: "logs/Программный опрос (Съемка)_Line0.log"
         
         maxArchiveDays="3" - жестко заставляет NLog удалять старые логи ровно через 3 дня!
         keepFileOpen="false" - закрывает файл после записи, чтобы Windows не блокировала его.
    -->
		<target name="dynamicMethodsLog" xsi:type="File"
				fileName="logs/${logger}.log"
				layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${message}"
				keepFileOpen="false"
				concurrentWrites="true"
				maxArchiveDays="3"
				archiveEvery="Day"
				maxArchiveFiles="3" />
	</targets>

	<rules>
		<!-- ПРАВИЛО 1: Отсекаем логи внутренних библиотек Hikrobot SDK, если они полезут -->
		<logger name="MvCamCtrl.*" minlevel="Off" final="true" />

		<!-- ПРАВИЛО 2: Если имя логгера содержит префикс "_Line", значит это один из ваших 
         динамических методов. Пишем его в персональный файл и тушим (final="true"), 
         чтобы он не дублировался в главный системный лог app_main.log -->
		<logger name="*_Line*" minlevel="Info" writeTo="dynamicMethodsLog" final="true" />

		<!-- ПРАВИЛО 3: Все остальные общие системные логи формы летят в главный файл -->
		<logger name="*" minlevel="Info" writeTo="mainLogFile" />
	</rules>
</nlog>
